$dark: #051c3b;
$light: #e5efee;
$primary: #80a4be;
$secondary: #57859c;
$tertiary: #1e3d5a;
$warn: #ea845f;

$background: $dark;
$header-color: $secondary;
$text-color: $primary;

$roboto-mono: 'Roboto Mono', monospace;
$lato: 'Lato', sans-serif;

$bold: 700;
$medium: 500;
$regalur: 400;

$breakpoint-xs: 440px;
$breakpoint-sm: 660px;
$breakpoint-md: 1080px;
$breakpoint-lg: 1440px;
